{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ auction.category }} - {{ auction }}{% endblock %}
{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" >
        $(function() {
            $( ".datePicker" ).datepicker();
        });
    </script>
    <h1></h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <fieldset>
    <legend><a href="{% url 'index'%}">{{ auction.category }}</a> - {{ auction }}</legend>

    <form action="{% url 'auctions:save' auction.id%}" method="post">{% csrf_token %}
        {% csrf_token %}

        <table>
            {{ form.as_p }}
        </table>

        <input type="submit" class="btn" value="Submit"/>
    </form>
    </fieldset>
{% endblock %}