/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
h1 h2 h3 h4{
    margin :0
}
#nav {
    margin: 13px 0 0 0;
}

#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#content {
    margin: 13px 0 0 0;
}
#header {
    margin :0
}

/**
TABLE
**/
table {
    border-collapse: collapse;
    border: 1px solid #666666;
    font: normal 11px verdana, arial, helvetica, sans-serif;
    color: #363636;
    background: #f6f6f6;
    text-align:left;
}
caption {
    text-align: center;
    font: bold 16px arial, helvetica, sans-serif;
    background: transparent;
    padding:6px 4px 8px 0px;
    color: #CC00FF;
    text-transform: uppercase;
}
thead, tfoot {
    background:url(bg1.png) repeat-x;
    text-align:left;
    height:30px;
}
thead th, tfoot th {
    padding:5px;
}
table a {
    color: #333333;
    text-decoration:none;
}
table a:hover {
    text-decoration:underline;
}
tr.odd {
    background: #f1f1f1;
}
tbody th, tbody td {
    padding:5px;
}
