{% load url from future %}
{% load i18n %}
{% if user.is_authenticated %}
    <div class="pull-right">
        <span class="brand" >{{ user.get_full_name }}</span>

        <a class="btn" href="{% url 'user:index' user_id=user.id %}">{% trans "Edit profile details"%}</a>
        <a class="btn" href="{% url 'user:logout' %}?next={{ request.path }}">{% trans "Log out"%}</a>
    </div>
{% else %}
    <form action="{% url 'user:login' %}" method="post" style="display: inline"
          class="form-inline pull-right">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">

        <input type='text' placeholder="{% trans "Username"%}" name="username" id=username>

        <input type='password' placeholder="{% trans "Password"%}" name="password">
        <input type="submit" value="{% trans "Login"%}" class="btn">
        <a class="btn" href="{% url 'user:index' user_id='None' %}?next={{ request.path }}">{% trans "Register"%}</a>
    </form>

{% endif %}
